.contact__container {
  display: grid;
  place-items: center;
}

.header__content .header__text {
  margin-top: -1.7rem;
  padding-bottom: 1rem;
}

.contact__wrapper {
  width: fit-content;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  height: 100%;
}

.contact__wrapper a {
  background: var(--color-primary);
  padding-top: 0.5rem;
  width: 75px;
  font-size: 2.3rem;
  border: 2px solid transparent;
  transition: var(--transition);
  border-radius: 1.8rem;
}

.contact__wrapper a:hover {
  background: transparent;
  border-color: var(--color-gray-100);
}

.input__name {
  display: flex;
  justify-content: center;
  text-align: center;
}

.input__name input[type="text"] {
  padding: 0.3rem 0.8rem 0.3rem 0.8rem;

  background-color: #ffb116;
  opacity: 60%;
  color: Black;
  font-size: 0.9rem;
  border-radius: 4px;
}

.input__email {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 0.5rem;
}
.input__email input {
  padding: 0.3rem 0.8rem 0.3rem 0.8rem;
  background-color: #ffb116;
  opacity: 60%;
  color: black;
  font-size: 0.9rem;
  border-radius: 4px;
}

.message__input {
  padding-top: 0.6rem;
  display: flex;
  justify-content: center;
  text-align: center;
}
.message__input textarea {
  padding: 0.1rem 0.6rem 0.3rem 0.6rem;
  background-color: #ffb116;
  width: 400px;
  opacity: 60%;
  color: black;
  border-radius: 4px;
}
.input__btn {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0.8rem;
}

.input__btn button {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 10%;
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.validation {
  display: none;
}

.show {
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: red;
}

@media screen and (max-width: 1024px) {
  .header__content .header__text {
    padding-top: 0.6rem;
    font-size: 16px;
  }

  .input__btn button {
    padding: 0.5rem 2.4rem 0.5rem 2.4rem;
  }
}

@media screen and (max-width: 600px) {
  .header__container-bg img {
    display: flex;
    justify-content: center;
    height: 370px;
  }

  .header__content .header__text {
    font-size: 12px;
    margin-top: -4rem;
  }

  .forms {
    padding-top: 0.5rem;
  }

  .message__input textarea {
    width: 300px;
  }

  .input__btn {
    padding-top: 1rem;
    margin-bottom: -2rem;
  }

  .input__btn button {
    padding: 0.6rem 2.2rem 0.6rem 2.2rem;
  }

  .show {
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: red;
  }

  .contact__wrapper {
    gap: 1.5rem;
  }
  .contact__wrapper a {
    height: 85%;
    width: 80%;
    padding: 0.4rem 0.5rem 0.2rem 0.5rem;
    font-size: 1.8rem;
    border-radius: 1rem;
  }
}
